<?xml version="1.0"?>

<appSettings>
	<add key="DbConnectionString" value="Server=619c659b-f38f-4590-9046-9f9000df8e40.sqlserver.sequelizer.com;Database=db619c659bf38f459090469f9000df8e40;User ID=ejpqaijvanwrlrnd;Password=xj8fkme6LR7yTsYxPHiELy4rDVX6CJgJigV7kBC7rNbsv8gRPEbZEaC7pPHxwhBb;" />
	<add key="DbSchema" value="dbo" />
</appSettings>
