/* --------------------------------------------------------- *\
	CSS Reset
\* --------------------------------------------------------- */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset, img {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ol, ul {
  list-style: none;
}
caption, th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before, q:after {
  content: '';
}
abbr, acronym {
  border: 0;
}
/* --------------------------------------------------------- *\
	Site Core
\* --------------------------------------------------------- */
/* Positioning */
.relativeblock {
  position: relative;
  display: block;
}
.relativeinlineblock {
  position: relative;
  display: inline-block;
}
.absoluteblock {
  position: absolute;
  display: block;
}
.leftblock {
  float: left;
  display: block;
}
.rightblock {
  float: right;
  display: block;
}
/* Effects */
.pattern-noise {
  background-image: url(../images/pattern_noise.png);
  background-position: left top;
  background-repeat: repeat;
}
.pattern-stripes {
  background-image: url(../images/pattern_whitestripes.png);
  background-position: left top;
  background-repeat: repeat;
}
/* --------------------------------------------------------- *\
	Color
\* --------------------------------------------------------- */
/* yellow */
/* base highlight */
/* blue */
/* pink/red */
/* purple */
/* blue */
/* red */
/* --------------------------------------------------------- *\
	Typography
\* --------------------------------------------------------- */
/* Fonts */
/* 12px */
/* 16px */
/* 21px */
/* 28px */
/* 64px */
HTML, BODY {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 1.5em;
  background-color: #fde99b;
  color: #333333;
}
.antialias {
  text-shadow: rgba(0, 0, 0, 0.75) 0 0 1px;
  /* Anti-alias hack for some browsers to make the font look better. */

}
.antialias-white {
  text-shadow: rgba(255, 255, 255, 0.75) 0 0 1px;
  /* Anti-alias hack for some browsers to make the font look better. */

}
.textleft {
  text-align: left;
}
.textcenter {
  text-align: center;
}
.textright {
  text-align: right;
}
/* --------------------------------------------------------- *\
	Elements
\* --------------------------------------------------------- */
H1 {
  position: relative;
  display: block;
  margin-bottom: 1em;
  font-family: "Arial Black", Arial, sans-serif;
  font-size: 1.75em;
  font-weight: bold;
  color: #5895db;
  line-height: 1.3em;
}
H2 {
  position: relative;
  display: block;
  font-size: 1.3em;
  font-weight: bold;
  color: #4A4A4A;
  margin-bottom: 1em;
}
H3 {
  position: relative;
  display: block;
  font-size: 100%;
  font-weight: bold;
  color: #4A4A4A;
}
P {
  position: relative;
  display: block;
  margin: 0 0 1em;
}
A {
  color: #c84663;
  font-weight: bold;
  text-decoration: none;
}
A:hover {
  text-decoration: underline;
}
/* --------------------------------------------------------- *\
	Layout
\* --------------------------------------------------------- */
HTML, BODY {
  background-image: url(../images/pattern_noise.png);
  background-position: left top;
  background-repeat: repeat;
}
.noDisplay {
  display: none;
}
#pageContainer {
  position: relative;
  display: block;
  width: 960px;
  margin: 0 0 0 -480px;
  left: 50%;
}
#pageContainer HEADER {
  position: relative;
  display: block;
  padding: 0 10px;
  margin: 0 0 2em;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 0px 0px 15px 15px;
  -moz-border-radius: 0px 0px 15px 15px;
}
#pageContainer HEADER #title {
  text-shadow: rgba(255, 255, 255, 0.75) 0 0 1px;
  /* Anti-alias hack for some browsers to make the font look better. */

  font-family: "Arial Black", Arial, sans-serif;
  font-size: 4em;
  line-height: 2em;
  color: #FFFFFF;
}
#pageContainer HEADER UL#nav {
  position: absolute;
  display: block;
  padding: 1em;
  top: 2.4em;
  right: 1em;
  list-style-type: none;
  background-color: #a5daf9;
  border-radius: 15px 3px 15px 3px;
  -moz-border-radius: 15px 3px 15px 3px;
  border: 1px solid white;
  -moz-box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.3);
  background-image: url(../images/pattern_whitestripes.png);
  background-position: left top;
  background-repeat: repeat;
}
#pageContainer HEADER UL#nav LI {
  float: left;
  display: block;
  margin: 0 6px;
}
#pageContainer HEADER UL#nav LI A {
  margin: 0px 15px 0px;
  font-weight: bold;
  text-transform: lowercase;
  font-size: 1.75em;
  color: #FFFFFF;
  text-decoration: none;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
}
#pageContainer HEADER UL#nav LI A:hover {
  color: white;
  border-bottom: 16px solid white;
}
#pageContainer SECTION#main {
  position: relative;
  display: block;
  clear: both;
  padding: 0 10px;
}
#pageContainer FOOTER {
  position: relative;
  display: block;
  padding: 0 10px;
}
.panel {
  position: relative;
  display: inline-block;
  padding: 1em;
  vertical-align: top;
}
.validationMessage {
  position: relative;
  display: block;
}
.validationMessage DIV {
  position: relative;
  display: block;
  padding: 1em 0.5em;
  color: #741010;
}
.isDialog .content {
  position: relative;
  display: block;
}
.isDialog .content INPUT[type=text] {
  width: 300px;
  height: 2em;
  line-height: 2em;
  font-size: 1.3em;
  text-align: center;
}
.isDialog .validationMessage {
  position: relative;
  display: block;
}
.isDialog .actions {
  position: relative;
  display: block;
  margin: 2em 0 0;
  text-align: right;
}
.isDialog .actions.textcenter {
  text-align: center;
}
.isDialog .actions .primaryAction {
  margin-right: 0.5em;
  font-size: 1.3em;
  color: #5895db;
}
.isDialog .actions .secondaryAction {
  color: #735573;
  font-size: 0.75em;
  text-decoration: none;
}
.isDialog .actions .specialAction {
  margin: 0 0.75em;
  font-size: 1.75em;
  color: #c84663;
}
.isDialog .actions .specialAction.smaller {
  color: #999999;
  font-size: 1.3em;
}
.isDialog .actions A:hover {
  text-decoration: underline;
}
/* --------------------------------------------------------- *\
	Page Specific Styles
\* --------------------------------------------------------- */
#homePage .scores H1 {
  color: #735573;
}
#colorGame .scoreBoard {
  position: relative;
  display: block;
}
#colorGame .scoreBoard DIV {
  position: relative;
  display: inline-block;
  width: 49%;
  margin-bottom: 1em;
}
#colorGame .scoreBoard LABEL {
  position: relative;
  display: block;
  font-weight: bold;
}
#colorGame .scoreBoard .displayName {
  line-height: 1.1em;
  font-size: 4em;
}
#colorGame .scoreBoard .score {
  line-height: 1.1em;
  font-size: 4em;
}
#colorGame .pickThisColor {
  position: relative;
  display: block;
  margin-top: -55px;
}
#colorGame .pickThisColor .message {
  position: relative;
  display: block;
  text-align: center;
  font-size: 1.3em;
}
#colorGame .pickThisColor #currentColor {
  position: relative;
  display: block;
  text-align: center;
  font-family: "Arial Black", Arial, sans-serif;
  font-size: 4em;
  text-shadow: rgba(0, 0, 0, 0.75) 0 0 1px;
  /* Anti-alias hack for some browsers to make the font look better. */

  line-height: 1em;
}
#colorGame .colorCards {
  position: relative;
  display: block;
  margin-top: 3em;
  text-align: center;
}
#colorGame .colorCards DIV {
  position: relative;
  display: inline-block;
  margin: 0 1%;
  width: 30%;
  height: 250px;
  border: 1px solid #FFFFFF;
  -moz-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.5);
  background-image: url(../images/pattern_noise.png);
  background-position: left top;
  background-repeat: repeat;
  cursor: pointer;
}
#colorGame .colorCards DIV.Blue {
  background-color: blue;
}
#colorGame .colorCards DIV.Green {
  background-color: green;
}
#colorGame .colorCards DIV.Yellow {
  background-color: yellow;
}
#colorGame .colorCards DIV.Orange {
  background-color: orange;
}
#colorGame .colorCards DIV.Red {
  background-color: red;
}
#colorGame .colorCards DIV.Purple {
  background-color: purple;
}
#colorGame .colorCards DIV.invalid {
  cursor: default;
  background-color: #CFCFCF;
  border: 1px solid #FFFFFF;
  -moz-box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.3);
}
/* --------------------------------------------------------- *\
	Legacy Style Support
\* --------------------------------------------------------- */
.no-boxshadow .boxshadow {
  border: 1px solid #666666;
}
/* --------------------------------------------------------- *\
	JQuery UI overrides
\* --------------------------------------------------------- */
.ui-dialog-titlebar-close {
  display: none;
}
