<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings file="appSettings.overrides.config">
		<add key="DbConnectionString" value="Data Source=localhost; Initial Catalog=Color; Integrated Security=SSPI; Application Name=Coloriful (tests);" />
		<add key="DbSchema" value="TEST" />
	</appSettings>
</configuration>